*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    font-size: 16px;
    background-color: orangered;
    padding: 12px;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: white;
}

#logo{
    width: 100px;
}

body{
    font-size: 14px;
}

img{
    width: 330px;
}

.primafila{
    display: flex;
    flex-direction: row;
    margin: 100px 160px;
}

.secondafila{
    display: flex;
    flex-direction: row;
    margin: 30px 160px;
}

.textred{
    color: red;
}

.text{
    text-decoration: line-through;
}

.etichette{
    margin: 150px;
}

.etired{
    background-color: red;
    color: white;
    padding: 1px 2px;
}

.etigreen{
    background-color: green;
    color: white;
    padding: 1px 2px;
}

.etichettared{
    margin: 150px;
}

.etiros{
    background-color: red;
    color: white;
    padding: 1px 2px;
}